.image-container {
    max-width: 1400px;
    height: 750px;
    width: 100%;
    margin: auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 1rem;
    justify-items: center;
    background: linear-gradient(-45deg, #002147, #002e63, #daa520, #ffcc33);
    background-size: 400%;
    animation: bg-animation 5s infinite alternate;
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

h1 {
    padding-bottom: 2rem;
}

.image-cover {
    width: 700px;
    height: 500px;
    border-radius: 1rem;
    background-position: center;
    background-size: 100% 100%;
    transition-duration: 0.5s;
}

.left-arrow,
.right-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    border-radius: 9999px;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    cursor: pointer;
    transition: opacity 0.5s;
}

.left-arrow:hover,
.right-arrow:hover {
    opacity: 0.5;
}

.left-arrow {
    left: 17rem;
}

.right-arrow {
    right: 17rem;
}

.slide-indicator {
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: #fff;
}

.slider {
    font-size: 1.5rem;
    cursor: pointer;
}