.image-container {
    max-width: 1400px;
    height: 750px;
    width: 100%;
    margin: auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 1rem;
    justify-items: center;
    background: linear-gradient(-45deg, #002147, #002e63, #daa520, #ffcc33);
    background-size: 400%;
    animation: bg-animation 5s infinite alternate;
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

h1 {
    padding-bottom: 2rem;
}

.image-cover {
    width: 100%;
    max-width: 700px;
    height: auto;
    border-radius: 1rem;
    background-position: center;
    background-size: cover;
    transition-duration: 0.5s;
}

.title-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.image-cover:hover+.title-overlay,
.title-overlay:hover {
    opacity: 1;
}

.image-title {
    margin: 0;
    color: #ffcc33;
    font-size: 2rem;
    font-weight: 600;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.7);
    transition: opacity 0.3s ease-in-out;
}

.image-cover:hover+.title-overlay .image-title,
.title-overlay:hover .image-title {
    opacity: 1;
}

.left-arrow,
.right-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    border-radius: 9999px;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    cursor: pointer;
    transition: opacity 0.5s;
}

.left-arrow:hover,
.right-arrow:hover {
    opacity: 0.5;
}

.left-arrow {
    left: 17rem;
    transition: left 0.5s;
}

.right-arrow {
    right: 17rem;
    transition: right 0.5s;
}

.slide-indicator {
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: #fff;
}

.slider {
    font-size: 1.5rem;
    cursor: pointer;
}

@media screen and (max-width: 87.75em) {
    .image-container {
        padding: 2rem;
    }

    .left-arrow {
        left: 2rem;
    }

    .right-arrow {
        right: 2rem;
    }
}

@media screen and (max-width: 37.5em) {
    .left-arrow {
        left: 2rem;
    }

    .right-arrow {
        right: 2rem;
    }
}