.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #002147;
    color: #fff;
    padding: 5rem calc((100vw - 81.25rem) / 2);
    min-height: 100%;
    width: 100%;
}

.footer-container .footer-heading {
    font-size: clamp(2rem, 2.5vw, 3rem);
    text-transform: uppercase;
    text-align: center;
}

.footer-content {
    margin: 3rem 0 0 5rem;
    padding: 5rem calc((100vw - 81.25rem) / 2);
    max-width: 40rem;
    width: 100%;
    text-align: left;
}

.footer-wrapper {
    display: flex;
}

.footer-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem 3.125rem;
    max-width: 31.25rem;
    width: 50%;
    text-align: left;
    box-sizing: border-box;
}

.footer-items h2 {
    color: #daa520;
    margin-bottom: 1rem;
    font-weight: 600;
}

.footer-items a {
    color: #fff;
    margin-bottom: 0.5rem;
    text-decoration: none;
}

.footer-items a:hover {
    background: linear-gradient(150deg,
            #002e63 0%,
            #ffcc33 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.3s ease-out;
    cursor: pointer;
}

/* Social Icons */
.footer-items p {
    display: flex;
    font-size: 1rem;
    width: 90%;
    line-height: 1.6;
}

.social-icon_link {
    color: #fff;
    font-size: 1.5rem;
    margin-right: 1rem;
}

.social-icon_link:hover {
    background: linear-gradient(150deg,
            #002e63 0%,
            #ffcc33 100%);
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}