* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(150deg, rgb(0, 46, 99) 0%, rgb(218, 165, 32) 100%);
  width: 100vw;
  height: 100vh;
}

img {
  width: 100%;
  height: auto;
}

.section-title {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth"100;
}

.home,
.destinations,
.gallery,
.signin,
.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  height: 37.5rem;
}

.destinations {
  background: linear-gradient(150deg, #002147 40%, #ffcc33 100%);
  color: #fff;
  font-size: 6.25rem;
}

.gallery {
  background: linear-gradient(150deg, #002147 40%, #ffcc33 100%);
  color: #fff;
  font-size: 6.25rem;
}

.signin {
  background: linear-gradient(150deg, #002147 40%, #ffcc33 100%);
  color: #fff;
  font-size: 6.25rem;
}

.signup {
  background: linear-gradient(150deg, #002147 40%, #ffcc33 100%);
  color: #fff;
  font-size: 6.25rem;
}